# Import libraries

In [1]:
import pandas as pd
import numpy as np
from functions.labelization import *

# Import training dataframe

In [2]:
df_train = pd.read_json('data/train/TRAIN.json')
# Transform columns to uppercase
df_train.columns = map(str.upper, df_train.columns)
print(df_train.shape)
df_train.head()

(48893, 6)

,ID_OFERTA,SUBCATEGORIA,CATEGORIA,PALABRAS_EMPLEO_TEXTO,ID_PUESTO_ESCO,ID_PUESTO_ESCO_ULL
0,ef5a8ae0a743018628df9bd53893bb,Administraci贸n,Administraci贸n de empresas,ADMINISTRATIVO INGLES NAVISION EMPRESAS CARACT...,1634,1634
1,47137c06a640348ca4cb7dcbf938b1,Medicina general,Sanidad y salud,MEDICO MEDICINA DIAGNOSTICO TRATAMIENTO LICENC...,611,611
2,cdfb72672340819a6721db72eee187,Comercial,Comercial y ventas,REPARTIDOR PERSONA CHOFER VENTAS CLIENTES SEGU...,2825,2825
3,5746210e854264aaca9452f4d377a4,Venta al detalle,Ventas al detalle,DEPENDIENTE PROCESOS SELECCION COMERCIAL TIEND...,1984,1984
4,8a1bda0c91438bb4133f32e392a1ce,Venta al detalle,Ventas al detalle,DEPENDIENTE PALMERAS SEMANALES ATENCIONES VENT...,1984,1984

# Labelize

In [3]:
ids = df_train['ID_PUESTO_ESCO_ULL']
# Create dictionary of label ids
dict_label_ids = create_dict_label_ids(ids)
# Save the dictionary
path_ids_labels = 'data/train/ids_labels.json'
save_dict_label_ids(dict_label_ids, path_ids_labels)