# Import libraries

In [6]:
import pandas as pd
import numpy as np

# Import obtained data from API

In [19]:
# Read offers.json in the data folder
offers = pd.read_json('./test/offers_nacional_enero_2023.json', lines=True)
print(offers.shape)
offers.head()

(62170, 15)

,title,description,company,location,category,date,id,url,id_oferta,denominacion_nivel,numerical_niveles,min_nivel,max_nivel,id_titulos,titulos_raw
0,Programador Java,¿Buscas 100% teletrabajo en España?\n¿Quieres ...,Iteriam Innovación y Estrategia Tecnológica S.L.,Madrid,IT - Sistemas - Tecnología,2022-12-12,3717638585,https://www.infojobs.net/madrid/programador-ja...,703656978646fc9413d26519bb6a59,None,None,NaN,NaN,None,None
1,Tècnic / Tècnica Suport Informàtica I Sistemes...,"Empresa de gran consum, distribució i alimenta...",tenstalent,Manresa,IT - Sistemas - Tecnología,2022-12-12,3709203644,https://es.linkedin.com/jobs/view/t%C3%A8cnic-...,None,None,None,NaN,NaN,None,None
2,PLC Technician,Se selecciona para departamento técnico eléctr...,GMP. Gestion de Mantenimientos de Procesos,Zaragoza,Ingeniería,2022-12-20,3725461467,https://www.infojobs.net/zaragoza/tecnico-plcs...,e2ecb950b148109b5a9c2f4b7dea8a,None,None,NaN,NaN,None,None
3,Mozos De Almacén Especialistas En Picking Poli...,Funciones\n¿Tienes experiencia como Mozo/a de ...,Interim Group,Elche,Logística - Distribución,2022-12-22,3723232320,https://www.infojobs.net/elche-elx/mozos-almac...,37e1360b6041cabcce42c336fae8ec,None,None,NaN,NaN,None,None
4,PERSONAL DE SUPERMERCADO en Foz,"Descripción:\n\nPara Mercadona, todas las pers...",Mercadona,Lugo,Atención al Cliente,2022-12-12,3709495729,https://www.infojobs.net/lugo/personal-superme...,f9247b881b49d584d445b43148fe1f,"[educacion secundaria obligatoria, educacion s...",[20],20.0,20.0,None,None

# Import offers already classified

In [20]:
# Read ofertas_clasificadas_infojobs_jobmarket.json in the data folder
offers_infojobs = pd.read_json('./test/test_estudio_consejo_ene_2023.json')
print(offers_infojobs.shape)
# Drop registers with nan values in their columns
offers_infojobs = offers_infojobs.dropna()
print(offers_infojobs.shape)
offers_infojobs.head()

(10865, 3)
(10865, 3)

,id_oferta,palabras_empleo_texto,id_puesto_esco
0,effba4a180493783f3f116328a6db8,CALIDAD FORMACIONES PROCESOS RELACIONES PUNTOS...,33
1,03cdbb2c8d47bdbfef9cfafb7ee05c,MANAGERS PROYECTO INTERNACIONAL PROCESOS DIREC...,33
2,18361364ee42bbb0dd146524266204,MANAGERS EMPRESAS COMERCIALIZACION PRODUCTOS Q...,39
3,50ca49f9374f6db2c07438d8618947,MANAGERS FRANCES INGLES COMERCIAL VENDER SERVI...,39
4,17c70baa084bbb9ea5bd61b92b3cf7,MANAGERS COSMETICA PACKAGINGS ORIENTACIONES CL...,39

# Match the two df frames on id_oferta into new one

In [14]:
# Create a new df matching the offers and offers_infojobs on id_oferta and get all the columns
df = pd.merge(offers, offers_infojobs, left_on='id_oferta', right_on='id_oferta', how='left')
print(df.shape)
# Drop all register with null in 'id_oferta'
df = df.dropna(subset=['id_oferta','id_puesto_esco','palabras_empleo_texto'])
print(df.shape)
df.head()

(62170, 17)
(91, 17)

,title,description,company,location,category,date,id,url,id_oferta,denominacion_nivel,numerical_niveles,min_nivel,max_nivel,id_titulos,titulos_raw,palabras_empleo_texto,id_puesto_esco
26,Enfermero - DUE Centro Residencial DomusVi Lalín,Descripción DomusVi es la compañía con la mayo...,DomusVi,Pontevedra,Medicina - Salud,2022-12-22,3722267927,https://www.infojobs.net/ribadumia/enfermero-d...,855d8ab112489286275a96f252f46d,"[diplomatura, grado en]","[125, 110]",110.0,125.0,"[1508, 80]","[Grado en Enfermería, Enfermería]",ENFERMERA DUE CENTRO RESIDENCIAL DOMUSVI DESCR...,2063.0
43,Grupo Hospiten Enfermeros (GUE/DUE) Hospitales...,Funciones\nEl Grupo Hospiten es una red sanita...,Grupo Hospiten,Santa Cruz de Tenerife,Medicina - Salud,2022-12-20,3731656473,https://www.infojobs.net/islas-canarias/grupo-...,f39d72ffb84c7187eac6058ef7d911,"[diplomatura, grado o]","[125, 110]",110.0,125.0,"[1508, 80]","[Grado en Enfermería, Enfermería]",ENFERMERA DUE HOSPITAL RED SANITARIO INTERNACI...,2063.0
360,Médico Asistencial Mutua,"FRATERNIDAD MUPRESPA, Mutua Colaboradora con l...",Fraternidad Muprespa,Girona,Medicina - Salud,2022-12-28,3727317750,https://www.infojobs.net/girona/medico-asisten...,7d341b3ec04067a15cad25e5d9599d,[licenciado],[140],140.0,140.0,"[52, 60]","[Historia, Medicina]",MEDICO ASISTENCIAL MUTUAS SEGURIDAD TRATA ASIS...,611.0
433,Enfermero - DUE Centro Residencial DomusVi Vir...,Descripción del puesto:\n\nContribuir a lograr...,DomusVi,León,Medicina - Salud,2022-12-28,3727642706,https://www.infojobs.net/leon/enfermero-due-ce...,ab524f6582468c8882de8b4073ec8d,"[diplomatura, grado en]","[125, 110]",110.0,125.0,"[1508, 80]","[Grado en Enfermería, Enfermería]",ENFERMERA DUE CENTRO RESIDENCIAL DOMUSVI DESCR...,2063.0
698,Area Manager Marché Francophone,¿Te apasiona la cosmética y el packaging?\n\n¿...,Plásticos FACA,Cornellà de Llobregat,Retail,2022-12-30,3729440209,https://www.infojobs.net/cornella-de-llobregat...,17c70baa084bbb9ea5bd61b92b3cf7,None,None,NaN,NaN,None,None,MANAGERS COSMETICA PACKAGINGS ORIENTACIONES CL...,39.0

In [ ]:
# Calculate the non matching offers
df['matching'] = np.where(df['id_oferta'].isnull(), 'no', 'yes')
# Show the number of matching and non matching offers
print(df['matching'].value_counts())
# Delete all non matching offers
df = df[df['matching'] == 'yes']
# Delete duplicate offers
df = df.drop_duplicates(subset='id_oferta', keep='first')
# Delete the offers with "id_puesto_esco_ull" NaN
df = df.dropna(subset=['id_puesto_esco'])
print(df.shape)
# Save to json file in the data folder
df.to_json('./test/offers_matching.json', orient='records', lines=True)
df.head()