# Import libraries

In [1]:
import pandas as pd

# Global variables

In [2]:
dictionary_path = './static/'

# Functions

In [3]:
import re
from unidecode import unidecode

expections = ["@", r"\."]

def clean_text(text):
    # ! EXCEPCIONES MANUALES!!!
    # Cast exceptions to "a"
    text = re.sub(r'@', 'a', text)
    # Cast from "." to ""
    text = re.sub(r'\.', '', text)
    
    # Trim the text
    text = text.strip()
    # Remove accents using unidecode, excluding 'ñ' and 'Ñ'
    text = ''.join(char if char in ('ñ', 'Ñ') else unidecode(char) for char in text)
    # Delete non-alphanumeric characters
    text = re.sub(r'[^\w\s]', ' ', text)
    # Delete additional spaces with regex
    text = re.sub(r'\s+', ' ', text).upper()
    return text

# Import dictionaries

In [4]:
legacy_dict_empleo = pd.read_json(dictionary_path + 'diccionario_empleo.json')
print(len(legacy_dict_empleo))
new_dict_empleo = pd.read_csv(dictionary_path + 'diccionario_empleo.csv')
print(len(new_dict_empleo))

5525
10556

# Comprobación de recuento de mismas palabras en legacy y new dictionary formats

In [5]:
# Count the words in the legacy dictionary that are not ''
columns_to_read = ['MASCULINO', 'FEMENINO', 'MASC_PLURAL', 'FEM_PLURAL', 'PALABRA_VISUAL']
# Count the non-empty words in the specified columns
non_empty_word_count = legacy_dict_empleo[columns_to_read].apply(lambda x: x[x != ''].count(), axis=1)
# Add the count as a new column in the DataFrame
legacy_dict_empleo['Non_Empty_Word_Count'] = non_empty_word_count
# Sum the counts of the non-empty words
non_empty_word_count_sum = legacy_dict_empleo['Non_Empty_Word_Count'].sum()
print("Before cleaning: " + str(non_empty_word_count_sum))
for column in columns_to_read:
    legacy_dict_empleo[column].apply(lambda x: clean_text(x))
def count_unique_forms(row):
    non_empty_values = [value for value in row if value != '']
    unique_forms_count = len(set(non_empty_values))
    return unique_forms_count
# Apply the function across the specified columns to count unique forms
legacy_dict_empleo['Unique_Forms_Count'] = legacy_dict_empleo[columns_to_read].apply(count_unique_forms, axis=1)
# Drop the duplicated rows
legacy_dict_empleo.drop_duplicates(inplace=True)
non_empty_word_count_sum = legacy_dict_empleo['Unique_Forms_Count'].sum()
print("After cleaning: " + str(non_empty_word_count_sum))
legacy_dict_empleo.head()

Before cleaning: 13321
After cleaning: 10631

,ID_PALABRA,PALABRA,MASCULINO,FEMENINO,MASC_PLURAL,FEM_PLURAL,LEMA,TIPO_PALABRA,PALABRA_VISUAL,PALABRA_GENERICA,Non_Empty_Word_Count,Unique_Forms_Count
0,15942,AAL5,,,,,ATM Adaptation Layer 5,9,AAL5,N,1,1
1,5890,ABACO,ÁBACO,,ÁBACOS,,ábaco,3,ÁBACO,N,3,2
2,19,ABAP,,,,,,9,ABAP,N,1,1
3,11228,ABAPOO,,,,,ABAPOO,9,ABAPOO,N,1,1
4,15880,ABAPY,,,,,Abaqus Python,9,ABAPY,N,1,1

# Import offers

In [6]:
df_offers =

SyntaxError: invalid syntax (3077321073.py, line 1)

# Create functions