# Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functions.filter import *
from functions.signature import *

# Import data

In [2]:
df_train = pd.read_json("../data/train/TRAIN.json", encoding='utf-8')
# Convert the name of the columns to uppercase
df_train.columns = map(str.upper, df_train.columns)
# Drop the null register if the PALABRAS_EMPLEO_TEXTO or CATEGORIA or SUBCATEGORIA is null
print("Before:" + str(df_train.shape))
df_train = df_train.dropna(subset=['PALABRAS_EMPLEO_TEXTO', 'CATEGORIA', 'SUBCATEGORIA'])
print("After:" + str(df_train.shape))
df_train['NUM_WORDS'] = df_train['PALABRAS_EMPLEO_TEXTO'].apply(lambda x: len(x.split(" ")) - 1)
# Shuffle the dataframe
df_train = df_train.sample(frac=1).reset_index(drop=True)
df_train.head(2)

Before:(48893, 6)
After:(48893, 6)

,ID_OFERTA,SUBCATEGORIA,CATEGORIA,PALABRAS_EMPLEO_TEXTO,ID_PUESTO_ESCO,ID_PUESTO_ESCO_ULL,NUM_WORDS
0,8e1ea4db33443593cea3178cde8a04,Almacén,"Compras, logística y almacén",PUNTOS PROYECTO CLIENTES SEMANALES VENTAS PRES...,2920,2920,34
1,2d7e0c22b94a03bd5810667a7d11c7,Sin especificar,Otros,ENFERMERA RESIDENCIA SERVICIOS AUXILIAR COMPRO...,613,613,16

# Undersampling

In [3]:
print("Before:" + str(df_train.shape))
# Delete occupations with more than 1000 offers and set to 1000
df_undersampling = drop_randomly_most_offers(df_train, maxOffers=1000, totalOffers=800)
print("After:" + str(df_undersampling.shape))
# df_train.to_json("../data/train/TRAIN_filter_1000_offers.json", orient='records', force_ascii=False)

Before:(48893, 7)
After:(38165, 7)

# Delete by Num of Words

In [4]:
print("Before: ", df_train.shape[0])
# Delete all rows with less than 5 words
df_words = delete_offers_with_less_words(df_train, 5)
print("After: ", df_train.shape[0])
# df_train.to_json("../data/train/TRAIN_filter_5_words.json", orient='records', force_ascii=False)

Before:  48893
After:  48893

# Delete by signature

In [5]:
print("Before: ", df_train.shape[0])
diccionario_ocupaciones = create_diccionario_ocupaciones(df_train)
df_train['RELATIVE_SIGNATURE'] = get_offers_signature_relative(df_train, diccionario_ocupaciones)
df_signature = delete_offers_same_occupation_by_signature(df_train, maxOffers=10, totalOffers=10)
print("After: ", df_signatures.shape[0])

Before:  48893

/home/fulp/clasificador_ofertas_empleo/clasificador-ofertas-empleo-modelo/notebooks/functions/signature.py:73: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.4384, 0.2136, 0.9897, 0.9849, 0.4196, 0.2958, 0.9035, 0.2519, 0.1086, 0.9849, 0.9897, 0.9035, 0.9746, 0.1516, 0.9897, 0.8564, 0.0991, 0.1077, 0.9228, 0.3487, 0.9746, 0.1478, 0.2366, 0.2898, 0.1959, 0.3098, 0.9863, 0.2348, 0.331, 0.9035, 0.3772, 0.9897, 0.255, 0.3713, 0.1707, 0.3003, 0.9897, 0.8564, 0.9849, 0.9897, 0.2909, 0.9746, 0.4373, 0.3503, 0.2143, 0.3789, 0.3686, 0.8564, 0.9897, 0.3024, 0.9897, 0.4541, 0.4267, 0.8564, 0.9035, 0.4542, 0.2257, 0.921, 0.3118, 0.9897, 0.3211, 0.3047, 0.3865, 0.9849, 0.2072, 0.9897, 0.9897, 0.4327, 0.1685, 0.9897, 0.9897, 0.1363, 0.2884, 0.1478, 0.8564, 0.9897, 0.8564, 0.5612, 0.9849, 0.9897, 0.3758, 0.4054, 0.1596, 0.9212, 0.2072, 0.8564, 0.9897, 1.0, 0.8564, 0.3063, 0.2841, 0.4134, 0.9897, 0.9897, 0.2752, 0.2597, 1.0, 0.4224, 0.922, 1.0, 0.4122, 0.3475, 0.2583, 1.0, 0.9746, 0.8564, 0.4112, 0.9746, 0.922, 0.1347, 0.8564, 0.1272, 0.9746, 0.4165, 0.4112, 0.9746, 0.9746, 0.3967, 0.9897, 0.1991, 0.3407, 0.1196, 0.9746, 0.9897, 0.922, 0.9746, 0.1077, 0.2896, 0.921, 0.1991, 0.9746, 0.9849, 0.2778, 0.8564, 0.2909, 0.3105, 0.9746, 0.1482, 0.0894, 0.2715, 0.3487, 0.8564, 0.9849, 0.2878, 1.0, 0.9849, 0.3429, 0.9897, 0.3731, 0.9746, 0.9746, 0.3537, 0.4919, 0.448, 0.2761, 0.9897, 0.3731, 0.1514, 0.3629, 0.4333, 0.7691, 0.1482, 0.4384, 0.2878, 0.2854, 0.8564, 0.0894, 0.2884, 0.2761, 0.2884, 0.9849, 0.1478, 0.921, 0.2733, 0.3772, 1.0, 0.1495, 0.3459, 0.291, 0.2072, 0.9746, 0.9897, 0.9746, 0.3047, 0.9897, 0.3295, 0.2918, 0.9228, 0.9228, 0.9746, 0.4193, 0.2909, 0.5678, 0.9746, 0.216, 0.1237, 0.7691, 0.332, 1.0, 0.2909, 0.2878, 0.9897, 0.8371, 0.9849, 0.2878, 0.4217, 0.1959, 0.8574, 0.1112, 0.3662, 0.8564, 0.3492, 0.3295, 0.9746, 0.4126, 0.2715, 0.4084, 0.9863, 0.2072, 0.2414, 0.9849, 0.3967, 0.2909, 0.1352, 0.3143, 0.4112, 0.3544, 0.9897, 0.9897, 0.9849, 0.2253, 0.2041, 0.9849, 0.2781, 0.8564, 0.4349, 0.9897, 1.0, 0.8371, 0.4333, 0.2761, 0.3442, 0.404, 0.4084, 0.2257, 0.9897, 0.9746, 0.43, 0.2008, 0.9897, 0.2072, 0.9897, 0.296, 0.9849, 0.9228, 0.2347, 0.3819, 0.2054, 0.3415, 0.2759, 0.2759, 0.2802, 0.343, 0.4131, 0.2523, 0.2054, 0.3077, 0.9746, 0.231, 0.1196, 0.3947, 0.4591, 0.4133, 0.921, 0.8564, 0.3608, 0.3731, 0.2107, 0.3834, 0.3967, 0.3629, 0.3171, 0.1254, 0.43, 0.3891, 0.9849, 0.4229, 0.9746, 0.2113, 0.2388, 0.9746, 0.9897, 0.3763, 1.0, 0.1112, 0.1436, 0.1895, 0.9849, 0.3176, 0.9897, 0.8564, 0.1058, 0.9897, 0.4333, 0.1077, 0.9849, 0.9849, 0.3105, 0.8564, 0.1867, 0.9849, 0.196, 0.3508, 0.8371, 0.9897, 0.2031, 0.3071, 0.9897, 0.9228, 0.4193, 0.5518, 0.9849, 0.9228, 0.2519, 0.4193, 0.255, 0.2909, 0.8564, 0.9228, 1.0, 0.9228, 0.9897, 0.922, 0.1231, 0.9897, 0.9897, 0.2679, 0.9863, 0.3487, 0.2943, 0.1736, 0.9746, 0.301, 0.1077, 0.4236, 0.9746, 0.3712, 0.2761, 0.5338, 0.2136, 0.4447, 0.2951, 0.921, 0.9746, 1.0, 0.2884, 0.9849, 0.159, 0.9897, 0.9897, 0.4077, 0.4821, 0.9746, 0.1985, 0.0844, 0.3878, 0.4182, 0.2884, 0.9746, 0.9849, 0.9746, 0.2796, 0.9897, 0.1867, 0.8564, 0.9897, 0.22, 0.9746, 0.2909, 0.4193, 0.9897, 0.1777, 0.2878, 0.4384, 0.4079, 0.2781, 0.2642, 0.2804, 0.2761, 0.4044]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['ID_PUESTO_ESCO_ULL'] == occupation_id, 'RELATIVE_SIGNATURE'] = signatures

# Both conditions

In [ ]:
df_train.head(2)

,ID_OFERTA,SUBCATEGORIA,CATEGORIA,PALABRAS_EMPLEO_TEXTO,ID_PUESTO_ESCO,ID_PUESTO_ESCO_ULL,NUM_WORDS,RELATIVE_SIGNATURE
0,8c35200a864b1b8fba47712770fca9,Helpdesk,Informática y telecomunicaciones,USUARIAS SOLUCIONES OPERATIVO INFORMATICO DETE...,1835,1835,31,0.6231
1,316fb827024d4bb698fe9383d1e674,Odontología,Sanidad y salud,DENTISTA AUTONOMO VISITAS DIAGNOSTICO TRATAMIE...,627,627,11,0.1290