In [1]:
from functions import *
import pandas as pd
import numpy as np
import json

# Import training data

In [2]:
path_df_train = '../data/train/TRAIN_filter.json'
df_train = pd.read_json(path_df_train)
# Transform columns to uppercase
df_train.columns = map(str.upper, df_train.columns)
print(df_train.shape)
df_train.head()

(47386, 8)

,ID_OFERTA,SUBCATEGORIA,CATEGORIA,PALABRAS_EMPLEO_TEXTO,ID_PUESTO_ESCO,ID_PUESTO_ESCO_ULL,NUM_WORDS,RELATIVE_SIGNATURE
0,e0d2a3efbf42a6bf9af0b749feb0f6,Sistemas,Informática y telecomunicaciones,BBDD SQL EQUIPOS PROYECTO EXPERIENCIA ADMINIST...,961,961,37,0.57
1,b979c8365d41c9af8f00886cfdbb5d,Hostelería,Turismo y restauración,LIMPIEZA CONSERVACION COCINADOS REGENERACION R...,1902,1902,41,0.79
2,9428bcf9c94f30959c62aba272f252,Marketing,Marketing y comunicación,TECNICO MARKETING DIGITAL PERSONA DINAMICA CAP...,2947,2947,34,0.63
3,1759eeb0974aa58ccf96e71df676f3,Venta al detalle,Ventas al detalle,MANAGERS TIENDAS RESPONSABILIDADES OPERATIVO E...,79,79,49,0.61
4,3bed3916274ed48aee8810cea08e47,Hostelería,Turismo y restauración,JEFE COCINA HOTELES PERSONAL SUPERVISAR COCINA...,1742,1742,35,0.61

# Create Vector and Vocabulary

In [3]:
from functions.vocabulary import create_vocabulary, save_vocabulary
from functions.vectorization import create_vectorize_dataframe, save_vectorized_dataframe

# Create vocabulary
vocabulary = create_vocabulary(df_train)
# Save vocabulary
save_vocabulary(vocabulary, '../data/train/vocabulary.json')
# Create vectorized dataframe
df_train_vectorized = create_vectorize_dataframe(df_train, vocabulary)
# Save vectorized dataframe
save_vectorized_dataframe(df_train_vectorized, '../data/train/df_train_vectorized.npy')

/home/fulp/clasificador_ofertas_empleo/clasificador-ofertas-empleo-modelo/.venv/lib64/python3.9/site-packages/sklearn/feature_extraction/text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
/home/fulp/clasificador_ofertas_empleo/clasificador-ofertas-empleo-modelo/.venv/lib64/python3.9/site-packages/sklearn/feature_extraction/text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
/home/fulp/clasificador_ofertas_empleo/clasificador-ofertas-empleo-modelo/.venv/lib64/python3.9/site-packages/sklearn/feature_extraction/text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(