# Import libraries

In [1]:
import pandas as pd
import numpy as np
from functions.labelization import *

# Import training dataframe

In [2]:
path_df_train = '../data/test/test_palabras_nuevas.json'
df_train = pd.read_json(path_df_train)
# Transform columns to uppercase
df_train.columns = map(str.upper, df_train.columns)
print(df_train.shape)
df_train.head()

(50099, 5)

,ID_OFERTA,ID_PUESTO_ESCO_ULL,CATEGORIA,SUBCATEGORIA,PALABRAS_EMPLEO_TEXTO_NUEVAS
0,ef5a8ae0a743018628df9bd53893bb,1634,Administracion de empresas,Administracion,ADMINISTRATIVO INGLES NAVISION TURNAR EMPRESA ...
1,47137c06a640348ca4cb7dcbf938b1,611,Sanidad y salud,Medicina general,MEDICAR FUNCIONAR DESEMPENAR PROPIO PONER MEDI...
2,cdfb72672340819a6721db72eee187,2825,Comercial y ventas,Comercial,REPARTIDOR BUSCAR PERSONA PONER CHOFER REPARTI...
3,5746210e854264aaca9452f4d377a4,1984,Ventas al detalle,Venta al detalle,DEPENDIENTE ABRIR PROCESAR SELECCION DEPENDIEN...
4,8a1bda0c91438bb4133f32e392a1ce,1984,Ventas al detalle,Venta al detalle,DEPENDIENTE STRADIVARIUS CC PALMERO FUERTEVENT...

# Labelize

In [3]:
ids = df_train['ID_PUESTO_ESCO_ULL']
# Create dictionary of label ids
dict_label_ids = create_dict_label_ids(ids)
# Save the dictionary
path_ids_labels = '../data/train/ids_labels.json'
save_dict_label_ids(dict_label_ids, path_ids_labels)